#shellcheck disable=SC2148,SC2155
export MINIJINJA_CONFIG_FILE="$(expand_path ./.minijinja.toml)"
export KUBECONFIG="$(expand_path ./kubernetes/kubeconfig)"
export SOPS_AGE_KEY_FILE="$(expand_path ./age.key)"
export TALOSCONFIG="$(expand_path ./talos/clusterconfig/talosconfig)"
export TASK_X_MAP_VARIABLES=0
