---
customization:
  extraKernelArgs:
    - -init_on_alloc                      # Less security, faster puter
    - -selinux                            # Less security, faster puter
    - apparmor=0                          # Less security, faster puter
    - init_on_alloc=0                     # Less security, faster puter
    - init_on_free=0                      # Less security, faster puter
    - amd_iommu=on                        # PCI Passthrough
    - iommu=pt                            # PCI Passthrough
    - pcie_aspm=off                       # Disable PCIe ASPM
    - mitigations=off                     # Less security, faster puter
    - module_blacklist=igc                # Disable onboard NIC
    - security=none                       # Less security, faster puter
    - sysctl.kernel.kexec_load_disabled=1 # Disable kexec load
    - talos.auditd.disabled=1             # Less security, faster puter
    - talos.config.early=KLUv/WQyAG0FAJILJR9Qa+oDbDdRs9sLhQkpwDwJhM2jIArTME4iUyczMaoaqKoEuQ5vKe8IiFfu0p74+04H79sVSjgYioUBPsdJbj9WaIgVJhDI0g9WuQ/kijEajhfP1wOq6lnuCxMjAAE6kNuJJeBpf7S9JuoE2neaTFynvCvU9Iwhtxc/NnjyTJGeFeSmdwUPN5ri48h95m7pBW+MxpgHAE8kZBQ4S1lSerIu1BAWquAxw80oDG9PWQ== # Early networking config
  systemExtensions:
    officialExtensions:
      - siderolabs/amd-ucode              # AMD CPU Microcode
      - siderolabs/gasket-driver          # Google Coral
      - siderolabs/i915                   # Intel GPU
      - siderolabs/mei                    # Intel GPU
      - siderolabs/nfsrahead              # NFS Performance
