---
apiVersion: v1
spec:
  containers:
    - name: debug
      image: docker.io/library/alpine:latest
      command: ["/bin/sh"]
      stdin: true
      stdinOnce: true
      tty: true
      securityContext:
        allowPrivilegeEscalation: true
        privileged: true
      volumeMounts:
        - mountPath: /rootfs
          name: rootfs
        - mountPath: /sys/firmware/efi/efivars
          name: efivars
        - mountPath: /run
          name: run
  dnsPolicy: ClusterFirstWithHostNet
  hostIPC: true
  hostNetwork: true
  hostPID: true
  nodeName: "{{ ENV.NODE }}"
  restartPolicy: Never
  volumes:
    - name: rootfs
      hostPath:
        path: /
    - name: efivars
      hostPath:
        path: /sys/firmware/efi/efivars
    - name: run
      hostPath:
        path: /run
