export GRAFANA_PASSWORD=""
export HASS_TOKEN=""
export HASS_DB_PASSWORD=""
export PLEX_CLAIM_TOKEN=""
export MINIO_ACCESS_KEY=""
export MINIO_SECRET_KEY=""
export DOMAIN=""
export AUTH0_CLIENT_ID=""
export AUTH0_CLIENT_SECRET=""
export AUTH0_DOMAIN=""
export OAUTH2_PROXY_COOKIE_SECRET=""
export BITWARDEN_ADMIN_TOKEN=""
export SLACK_URL=""
export UPTIME_ROBOT_API_KEY=""
